<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="mat-elevation-z6"> My App</mat-toolbar>
<div class="float-form">
  <mat-card style="text-align:center">
   <div class="form-group">
      <mat-form-field class="form-group-input">
          <input matInput [(ngModel)]="fromDate" [matDatepicker]="datefrom" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="datefrom"></mat-datepicker-toggle>
          <mat-datepicker #datefrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group-input">
            <input matInput  [(ngModel)]="toDate"  matTextareaAutosize matAutosizeMaxRows="2" [(value)]="toDate" [matDatepicker]="dateto" placeholder="Stop Date">
            <mat-datepicker-toggle matSuffix [for]="dateto"></mat-datepicker-toggle>
            <mat-datepicker #dateto></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
              <mat-select [(value)]="selectedCounty" placeholder="County">
                <mat-option *ngFor="let county of counties" [value]="county.value">
                  {{ county.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="chart.loadChartData()" mat-raised-button color="primary">Get Data</button>
   </div>

  </mat-card>
</div>
<mat-card style="width:63%;margin:auto">
<app-chart #chart [county]="selectedCounty" [fromDate] = "fromDate" [toDate]="toDate"></app-chart>
</mat-card>
